Helo <strong><?php echo $client['User']['username']; ?></strong>,<br/>
Mohon, permohonan upgrade member Corporate Anda ditolak,mungkin ada beberapa persayaratan yang tidak terpenuhi. Jika ada yang akan dikonsultasikan, jangan sungkan utk kontak kami.
<br/>
<br/>
<br/>
Terima kasih.
<br/>
Aksaramaya.com