Helo <strong><?php echo $client['User']['username']; ?></strong>,<br/>
Selamat, permohonan upgrade member Corporate Anda diterima, dan mulai saat ini Anda dapat melakukan pembelian lisensi buku
melalui menu <strong> Akunku -> Membeli Lisensi Buku</strong>. Silahkan login dengan Akun anda untuk menikmati fasilitas ini.
<br/>
<br/>
<br/>
Terima kasih.
<br/>
Aksaramaya.com