Hallo Admin Epustaka <?php echo $user['Library']['name'] ?><br/>
Ada member epustaka yang mengirimkan permintaan approval dengan data berikut:<br/>
ID Card  : <?php echo $user['Student']['nim']; ?><br/>
Library Card : <?php echo $user['Student']['library_card']; ?><br/>
Nama : <?php echo $user['Student']['name']; ?>
<br/>
Silahkan segera di proses melalui dashboard admin epustaka Anda.
<br/>
Terima kasih.
<br/>
<br/>
