Berikut ini adalah username dan password Anda:<br/>
Username : <?php echo $newPassword['username'] ?><br/>
Password : <?php echo $newPassword['password']; ?><br/>

Silahkan login pada halaman berikut:<br/>
<a href="<?php echo $newPassword['link_login'] ?>"><?php echo $newPassword['link_login'] ?></a><br/>

Terima kasih.

Aksaramaya.com