<strong>Perhatian !</strong><br/><br/>
Ada order dari klien  yang masuk ke Aksaramaya dengan data sebagai berikut:<br/><br/>

Nama Pelanggan : <?php echo $corporateOrder['User']['username'] ?><br/>
Nama Instansi :<?php echo $client['Client']['name'] ?><br/>
Jumlah Buku : <?php echo $corporateOrder['CorporateOrder']['num_books'] ?><br/>
Jangka Waktu : <?php echo $corporateOrder['CorporateOrder']['num_years'] ?><br/> tahun<br/>


Mohon segera diproses. 
<br/>
Terima kasih.
<br/>
Aksaramaya.com