Selamat <?php echo $user['User']['username'] ?><br/>
Anda telah berhasil mendaftar sebagai anggota Epustaka <?php echo $user['Client']['name'] ?>. 
Akun Anda akan diverifikasi dan di approve oleh Admin. Anda akan mendapatkan pemberitahuan via email
jika akun Anda sudah aktif. 
<br/>
<br/>
Terima kasih.
<br/>
<br/>
<a href="<?php echo $user['Client']['main_uri'] ?>"><?php echo $user['Client']['name'] ?></a>