Yth. <strong><?php echo $publisher['Publisher']['name'] ?></strong>, <br/>

Kami informasikan bahwa ada bidding terbaru dengan nilai <strong><?php echo $newbid;?></strong> untuk buku berikut:
<br/>
Penulis : <?php echo $author['Author']['name'] ?><br/>
Judul : <?php echo $book['Book']['title'] ?><br/>
Kategori : <?php echo $book['Category']['name']; ?><br/>
Jenis Bidding : <?php echo $biddingTypes[$book['Book']['bidding_type']]; ?><br/>


<p>
Silahkan melalukan bid yang lebih baik lagi dan pastikan Anda menjadi pemenangnya.    
</p>
<br/>
Terima kasih.
<br/>
Aksaramaya.com
