Helo <strong>Admin</strong>,<br/>
Ada member corporate baru yang mendaftar di Aksaramaya.com dengan data berikut:<br/>
Nama Instansi : <?php echo $client['Client']['name']; ?><br/>
Deskripsi : <?php echo $client['Client']['description']; ?><br/>
URL : <?php echo $client['Client']['main_uri']; ?>
<br/>
<br/>
Silahkan diproses segera.
<br/>
<br/>
<br/>
Terima kasih.
<br/>
Aksaramaya.com