Anda / Sesesorang telah mengiriman permintaan reset password pada website aksaramaya.com dengan email ini. <br/>
Untuk melalukan reset password silahkan klik link berikut ini:<br/>
<a href="<?php echo $resetPassword['link_reset'] ?>"><?php echo $resetPassword['link_reset'] ?></a><br/>
Jika Anda tidak merasa melakukan permintaan reset password maka abaikan email ini.

Terima kasih.

Aksaramaya.com