Dear <?php echo $author['Author']['name'] ?>,
<br/><br/>
Congratulations! You have been edited Your Password. Your new Password is :
<br/><br/>
Password: <?php echo $password; ?> (Use your own password)
<br/><br/>

Feel free to contact our Customer Support (cs@aksaramaya.com) for more information. We look forward to see you at Aksaramaya.com eBookstore. Thank You!
<br/><br/>
Best Regards,
<br/><br/>
Aksaramaya.com