/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.actions{
    list-style: none;
    /*width: 90px;*/

}
.actions li{
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

.content-tabs-list{
    margin-left: 30px;
    list-style: square;
}

.translate{
    cursor: pointer;
    float: right;
    font: 300 15px/29px 'Open Sans',Helvetica,Arial,sans-serif;
    height: 31px;
    margin: 10px 0 0 5px;
    padding: 0 22px;
}