/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2014, 2:13:32 AM
    Author     : gieart
*/


.list-peringkat{
    height:371px;
    overflow:hidden;
    margin:0; padding:0;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);
}

.list-peringkat li{
    padding:15px 0px;
    padding-left: 10px;
    display:block;
    background:none repeat scroll 0 0 #006600;
    color:#FFF;
    border-bottom:1px solid #ddd;
    text-align:center;
    font-size:14px;
    font-weight:bold;
}

.pembatas{
    background: #C79121 !important;
    /*height: 100px !important;*/
    /*padding-top: 35px !important;*/
}

.kotak-hijau{
    padding: 15px 30px;
    background: none repeat scroll 0 0 #006600;
    margin-bottom: 50px;
}

.kotak-merah{
    padding: 15px 30px;
    background: none repeat scroll 0 0 #FF0000;
}

.keterangan{
    font-weight: bold !important;
}