
<section id="widget-grid" class="">

    <!-- row -->

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
            <div data-widget-custombutton="false" data-widget-editbutton="false" id="wid-id-3" class="jarviswidget jarviswidget-sortable" style="" role="widget">
                <header role="heading">
                    <div class="jarviswidget-ctrls" role="menu"> 
                        <a data-placement="bottom" title="" rel="tooltip" class="button-icon jarviswidget-toggle-btn" href="#" data-original-title="Collapse"><i class="fa fa-minus "></i></a> <a data-placement="bottom" title="" rel="tooltip" class="button-icon jarviswidget-fullscreen-btn" href="javascript:void(0);" data-original-title="Fullscreen"><i class="fa fa-resize-full "></i></a> <a data-placement="bottom" title="" rel="tooltip" class="button-icon jarviswidget-delete-btn" href="javascript:void(0);" data-original-title="Delete"><i class="fa fa-times"></i></a></div><div class="widget-toolbar" role="menu"><a href="javascript:void(0);" class="dropdown-toggle color-box selector" data-toggle="dropdown"></a><ul class="dropdown-menu arrow-box-up-right color-select pull-right"><li><span data-original-title="Green Grass" data-placement="left" rel="tooltip" data-widget-setstyle="jarviswidget-color-green" class="bg-color-green"></span></li><li><span data-original-title="Dark Green" data-placement="top" rel="tooltip" data-widget-setstyle="jarviswidget-color-greenDark" class="bg-color-greenDark"></span></li><li><span data-original-title="Light Green" data-placement="top" rel="tooltip" data-widget-setstyle="jarviswidget-color-greenLight" class="bg-color-greenLight"></span></li><li><span data-original-title="Purple" data-placement="top" rel="tooltip" data-widget-setstyle="jarviswidget-color-purple" class="bg-color-purple"></span></li><li><span data-original-title="Magenta" data-placement="top" rel="tooltip" data-widget-setstyle="jarviswidget-color-magenta" class="bg-color-magenta"></span></li><li><span data-original-title="Pink" data-placement="right" rel="tooltip" data-widget-setstyle="jarviswidget-color-pink" class="bg-color-pink"></span></li><li><span data-original-title="Fade Pink" data-placement="left" rel="tooltip" data-widget-setstyle="jarviswidget-color-pinkDark" class="bg-color-pinkDark"></span></li><li><span data-original-title="Light Blue" data-placement="top" rel="tooltip" data-widget-setstyle="jarviswidget-color-blueLight" class="bg-color-blueLight"></span></li><li><span data-original-title="Teal" data-placement="top" rel="tooltip" data-widget-setstyle="jarviswidget-color-teal" class="bg-color-teal"></span></li><li><span data-original-title="Ocean Blue" data-placement="top" rel="tooltip" data-widget-setstyle="jarviswidget-color-blue" class="bg-color-blue"></span></li><li><span data-original-title="Night Sky" data-placement="top" rel="tooltip" data-widget-setstyle="jarviswidget-color-blueDark" class="bg-color-blueDark"></span></li><li><span data-original-title="Night" data-placement="right" rel="tooltip" data-widget-setstyle="jarviswidget-color-darken" class="bg-color-darken"></span></li><li><span data-original-title="Day Light" data-placement="left" rel="tooltip" data-widget-setstyle="jarviswidget-color-yellow" class="bg-color-yellow"></span></li><li><span data-original-title="Orange" data-placement="bottom" rel="tooltip" data-widget-setstyle="jarviswidget-color-orange" class="bg-color-orange"></span></li><li><span data-original-title="Dark Orange" data-placement="bottom" rel="tooltip" data-widget-setstyle="jarviswidget-color-orangeDark" class="bg-color-orangeDark"></span></li><li><span data-original-title="Red Rose" data-placement="bottom" rel="tooltip" data-widget-setstyle="jarviswidget-color-red" class="bg-color-red"></span></li><li><span data-original-title="Light Red" data-placement="bottom" rel="tooltip" data-widget-setstyle="jarviswidget-color-redLight" class="bg-color-redLight"></span></li><li><span data-original-title="Purity" data-placement="right" rel="tooltip" data-widget-setstyle="jarviswidget-color-white" class="bg-color-white"></span></li><li><a data-original-title="Reset widget color to default" data-placement="bottom" rel="tooltip" data-widget-setstyle="" class="jarviswidget-remove-colors" href="javascript:void(0);">Remove</a></li></ul>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Edit Foto</h2>				
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <!-- widget div-->
                <div role="content">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <!--<form novalidate="novalidate" class="smart-form" id="order-form">-->
                        <?php echo $this->Form->create('Photo', array('action' => 'edit', 'type' => 'file', 'class' => 'smart-form', 'id' => 'order-form')); ?>
                        <fieldset>
                            <div class="row">
                                <section class="col col-12 pull-right">
                                    <button type="button" class="btn btn-warning translate"><i class="fa fa-rotate-right"></i> Translate</button>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="input">
                                        <?php echo $this->Form->input('name', array('placeholder' => 'nama (ID)', 'div' => FALSE, 'label' => FALSE)); ?>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <?php echo $this->Form->input('name_en', array('placeholder' => 'nama (EN)', 'div' => FALSE, 'label' => FALSE)); ?>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="input">
                                        <?php echo $this->Form->input('description', array('type' => 'textarea', 'class' => 'mceEditor', 'placeholder' => 'nama (ID)', 'div' => FALSE, 'label' => FALSE)); ?>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <?php echo $this->Form->input('description_en', array('type' => 'textarea', 'class' => 'mceEditor', 'placeholder' => 'nama (EN)', 'div' => FALSE, 'label' => FALSE)); ?>
                                    </label>
                                </section>
                            </div>

                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="select"> 										
                                        <?php echo $this->Form->input('status', array('options' => $status, 'placeholder' => 'About (EN)', 'label' => FALSE, 'div' => FALSE)); ?>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="select"> 										
                                        <?php echo $this->Form->input('gallery_id', array('options' => $galleries, 'placeholder' => 'About (EN)', 'label' => FALSE, 'div' => FALSE)); ?>
                                    </label>
                                </section>
                            </div>

                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    <?php
                                    $image = $this->General->getSingleImage('Photo', $this->request->data['Photo']['id']);
                                    if (!empty($image)):
                                        echo $this->Html->image('timthumb.php?src=' . $image['Image']['large'] . '&h=200&w=400');
                                        echo '<br/>';
                                        echo $this->Html->link(__('Delete'), array('controller' => 'images', 'action' => 'delete', $image['Image']['id'], $this->request->data['Photo']['id'], 'Photo', 'edit'), null, __('Are you sure you want to delete # %s?', $image['Image']['id']));
                                    endif;
                                    ?>
                                </section>
                                <section class="col col-6">
                                    <div class="input input-file state-success">
                                        <span class="button"><input type="file" onchange="this.parentNode.nextSibling.value = this.value" name="data[Photo][image]" >Browse</span><input type="text" readonly="" placeholder="Include some files" class="valid">
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <label class="input"> 										
                                        <?php echo $this->Form->hidden('created', array('value' => date("Y-m-d H:i:s"), 'type' => 'text', 'placeholder' => 'About (EN)', 'label' => FALSE, 'div' => FALSE)); ?>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="submit">
                                Save
                            </button>
                            <button class="btn btn-primary" type="button" onclick="history.back();">
                                Back
                            </button>
                        </footer>
                        <?php echo $this->Form->end; ?>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
        </article>

    </div>

</section>
<!-- end widget grid -->


<!-- PAGE RELATED PLUGIN(S) -->
<script src="<?php echo Router::url('/'); ?>js/admin/plugin/summernote/summernote.js"></script>
<script src="<?php echo Router::url('/'); ?>js/admin/plugin/markdown/markdown.min.js"></script>
<script src="<?php echo Router::url('/'); ?>js/admin/plugin/markdown/to-markdown.min.js"></script>
<script src="<?php echo Router::url('/'); ?>js/admin/plugin/markdown/bootstrap-markdown.min.js"></script>


<script type="text/javascript">

                                // DO NOT REMOVE : GLOBAL FUNCTIONS!

                                $(document).ready(function() {

                                    pageSetUp();

                                    /*
                                     * SUMMERNOTE EDITOR
                                     */

                                    $('.summernote').summernote({
                                        height: 180,
                                        focus: false,
                                        tabsize: 2
                                    });



                                })

</script>

<script type="text/javascript">
    $('.translate').click(function() {
        var title = $('#PhotoName').val();
        $.ajax({
            type: 'GET',
            url: SERVER + 'langs/translate?text=' + title,
            success: function(response) {
                $('#PhotoNameEn').val(response);


                var body = tinymce.get('PhotoDescription').getContent();
                body = body.replace(/(<([^>]+)>)/ig, "");
                $.ajax({
                    type: 'GET',
                    url: SERVER + 'langs/translate?text=' + body,
                    success: function(response) {
                        tinymce.get('PhotoDescriptionEn').setContent(response);
                    }
                });


            }
        })
    });
</script>