<!--Navbar-->
<section id="pav-mainnav">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Navbar -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <?php echo $this->Tree->getBootstrapMenu(); ?>

        </div><!-- /.navbar-collapse -->

    </nav>    
</section>