<!-- Tabs Widget -->
<div class="tab-v2 margin-bottom-40">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home-1">Popular</a></li>
        <li class=""><a data-toggle="tab" href="#home-2">Racent Comment</a></li>
    </ul>                
    <div class="tab-content">
        <div id="home-1" class="tab-pane active">
            <a href=""><p>Manak rah supe; balung tuya: aken cepeng andhapan.</p> </a>
            <a href=""><p>Pellentesque fermentum, ante ac felis consectetur id. Donec eget orci metusvivamus imperdiet.</p> </a>                       
        </div>
        <div id="home-2" class="tab-pane magazine-sb-categories">
            <a href=""><p>Manak rah supe; balung tuya: aken cepeng andhapan.</p> </a>
            <a href=""><p>Pellentesque fermentum, ante ac felis consectetur id. Donec eget orci metusvivamus imperdiet.</p> </a> 
        </div>
    </div>
</div>            
<!-- End Tabs Widget -->